body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.principal-title {
	text-transform: uppercase;
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.rodape{
	background-color: #000;
	color: #F2FFFC;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.clearfix {
		clear: both;
}

nav a {
	color: #F2FFFC;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

blockquote, aside, footer {
    padding: 20px;
}

.conteudo {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
}

.navegacao-site h1{
	text-transform: uppercase;
}

.navegacao-site a {
	text-transform: lowercase;
	text-decoration: none;
}

.social-icon li{
  display: inline-block;
}

.social-icon a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-indent: -99999px;
}

aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
	font-size: 30px;
}

.github {
		background-image: url(../img/github.png);
}

.twitter {
		background-image: url(../img/twitter.png);
}
.linkedin {
		background-image: url(../img/linkedin.png);
}

main h2{
		clear: both;
}

main {
		width: 85%;
		float: left;
		padding-bottom: 80px;
}

.navegacao-site {
		width: 15%;
		float: right;
		position: relative;
		top: 310px;
		box-sizing: border-box;
	  border-bottom: 10px black solid;
		border-left: 10px black solid;
}

.minhafoto {
		position: absolute;
		top: 0;
		right: 0;
		border-bottom: 10px black solid;
		border-left: 10px black solid;
}
