body{
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}

h1,h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1{
    text-align: center;
    color: #FFFFFF;
    background-color: #861944;
}

p{
    text-align: justify;
}
